* {
    box-sizing: border-box;
    margin: 0;
    padding: 30;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-pic {
    flex: 1;
    max-width: 50%;
}

.profile-pic img {
    max-width: 100%;
    height: auto;
}

.about-me {
    flex: 1;
    max-width: 50%;
    padding: 20px;
}

.content {
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.my-work,
.others-work {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: none;
}




.about-me a {
    flex: 1;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.about-me a:hover {
    background-color: #555;
}

.lists {
    list-style: none;
    margin-top: 10px;
}
.lists dt {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
}

@media (max-width: 768px) {

    .me,
    .content {
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .profile-pic, .about-me {
        max-width: 100%;
    }

    .my-work,
    .others-work {
        max-width: 100%;
    }
}
